*{
    margin:0;
    padding: 0;
}
body{
    background-color:#486C2F;
    text-align: center;
}
.container{
    height:70vmin;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.box{
    height:18vmin;
    width:18vmin;
    background-color:#F1E5A1;
    border-radius: 1rem;
    border: none;
    box-shadow: 5px 5px 5px rgba(137, 107, 86, 0.771);
    font-size: 3rem;
    color:red;
}
#reset{
    height:40px;
    width:100px;
    border-radius: 5px;
    background-color:#EF6905;
    border:1px solid black;
    font-size:15px;
}
#new-btn{
    height:40px;
    width:100px;
    border-radius: 5px;
    background-color: #EF6905;
    border:1px solid black;
    font-size:15px;
}
#msg{
    color:black;
    font-size: 50px;
}
.msg-container{
    height:15vmin;
}
.hide{
    display:none;
}
.playerO {
    color: blue;
}

.playerX {
    color: red;
}